.body{
    background-color:rgb(118,156,178);
}
.menuLogin{
    background-color: rgba(255, 255, 255, 0.548);
    width: 701px;
    height: 401px;
    top: 100px;
    border-radius: 14px;
    border-style:hidden;
    padding-left: 39px;
    padding-right: 10px;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20;
    position:relative;

    
}
#imagem{
    position: absolute; 
	left: 303px; 
	top: 0px;
    border-radius:40px;  
}
.Login{
    position: relative;
    top: 110px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
   
  
}
.botaoLogin{
    background-color:rgb(118,156,178);
    border-radius: 10px;
    position: relative;
    width: 150px;
    
}
#cadastro{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
    font-size: 14px;
}

nav#menu {
    background-color: rgb(118,156,178); /* Cor do fundo do menu */
    padding: 15px;
    text-align: center;
}

/* Estilo dos links no menu */
nav#menu a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Removendo underline */
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Efeito de transição */
}

/* Efeito de hover nos links do menu */
nav#menu a:hover {
    background-color: #218838; /* Cor de fundo ao passar o mouse */
}



