.Body {

    color: rgb(0, 0, 0);
    border-left-width: 100px;
    position: relative;

    right: 300px;
    left: 370px;
    top: 40px;

    width: 50%;
    background-image: url('field-1728099_1920.jpg');

}

.Formulario {


    
    color: rgb(0, 0, 0);


}

#CampoNome {
    border-radius: 300px;
    width: 200px;
}

#CampoSobrenome {
    border-radius: 300px;
    width: 200px;
}

#CampoDataNascimento {
    width: 500px;
    border-radius: 300px;
}

#CampoEmail {
    border-radius: 300px;
}

#CampoNumeroTelefone {
    border-radius: 300px;
}

#CampoCpf {
    border-radius: 300px;
}

#CampoRg {
    border-radius: 300px;

}

#CampoCep {
    border-radius: 300px;
    width: 200px;
}
#CampoSenha{
    border-radius: 300px;
    width: 200px;

}
